*{
    margin: 0;
    /* border: 1px solid red; */
}

body{
    background-image: linear-gradient(to top, white, #EBE7FF);
}
    

header{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-top: 10px;
}

.header-B{
    display: flex;
    gap: 30px;
}

.header-A{
    display: flex;
}

.header-A img{
    width: 20%;
}

.header-C{
    border: 1px solid ;
    padding: px 3px;
    background-color: #0267FC;
    color: white;
    
}



.main{
    margin: auto;
}


.main-A{
margin: auto;
width: 70%;
margin-top: 100px;
display: flex;
}

.main-B h1{
    width: 70%;
}

.main-B p{
    width: 71%;
    line-height: 1.5em;
    margin-top:5px;
}


.main-C{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.main-C input{
    padding: 5px ;
    width: 230px;
}

.main-C h4{
    /* align-items: center; */
    border: 1px solid ;
    padding: 5px 20px;
    color: white;
    background-color: #0267FC;
    border-radius: 6px;
}

.main-A img{
    border-style: none;
    /* border: 1px solid red; */
    /* width: 10%; */
    margin-top: -30px;

}

.main-E{
    margin: auto;
    margin-top: 150px;
    width: 85%;
}

.main-E h2{
    margin: auto;
    width: 60%;
    font-size: 30px;
    color: #617894;
}

.main-E p{
    margin: auto;
    width: 60%;
    font-size: large;
    margin-top: 10px;
}

.main-E h4{
    margin: auto;
    width: 100px;
    color: #C8D9FE;
    border: 1px solid #AFBAF7;
    padding: 5px 8px ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-E img{
    margin: auto;
    margin-left: 170px;
}

.main-E h3{
    margin: auto;
    width: 60%;
    margin-top: 50px;
    font-size: 19px;
    color: #959594;
}


.main-F h2{
    margin: auto;
    margin-left: 200px;
margin-top: 100px;
width:30%;
font-size: 30px;

}

.main-F p{
    margin-left: 200px;
    line-height: 1.5em;
    margin-top:5px;
    width: 30%;
    /* margin: auto; */
}

.main-G img{
    margin-left: 200px;
    /* margin: auto; */
    display: flex;
}

.main-G{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-H p{
    width: 70%;
    font-size: 17px;
    line-height: 1.3em;
}



.main-H p{
    margin-bottom: 10px;
}

.main-H h2{
    margin-bottom: 10px;
    font-size: 30px;
}

.main-I{
    display: flex;
    margin: auto;
    width: 70%;
    gap: 40px;
    margin-top: 90px;
}

.main-I p{
    width: 95%;
    font-size: 17px;
    line-height: 1.3em;
}

.main-I h2{
    margin-bottom: 10px;
    font-size: 30px;
}


.main-J p{
    width: 90%;
    font-size: 17px;
    line-height: 1.3em;
}



.main-J p{
    margin-bottom: 10px;
}

.main-J h2{
    margin-bottom: 10px;
    font-size: 30px;
}

hr{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.hr-1{
    margin-top: -80px;
}


.DT-1 img{
    width: 40%;
    margin-left: 150px;
}

.DT-1{
    display: flex;
    
}

.DT{
    display: flex;
    /* margin: auto; */
    margin-left: 100px;
    width: 70%;
    margin-bottom: 100px;
    gap: 30px;
    margin-top: 20px;
}

.DT-1 p{
    width: 100%;
    margin-top: 5px;
    line-height: 1.3em;
    margin-bottom: 10px;
}



.DT-2 img{
    width: 80%;
    margin-top: 20px;
}


.DT-2 p{
    width: 100%;
    margin-top: 5px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.DT-2{
    display: flex;
}

.DT-1 h4{
    border: 1px solid #6577DD;
    color: #6577DD;
    width: 42%;
    padding: 5px 10px;
}

.DT-2 h4{
    border: 1px solid #6577DD;
    color: #6577DD;
    width: 42%;
    padding: 5px 10px;
}


footer img{
    width: 10%;
}

